/* width*/
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff1cbb;
}


.input-error {
  border: 1px solid red;
}

body {
  background-color: rgb(12, 166, 120);
  color: #fff !important;
  font-family: 'Permanent Marker', cursive !important;
}

.transp {
  backdrop-filter: blur(3px) !important;
  background: rgba(70, 28, 51, 0.1) !important;
  color: white !important;
  box-shadow: 8px 8px 8px rgb(#070606) !important;
  border-radius: 20px;
}

.six{
  width: 8rem;
  display: flex;
  justify-content: center;
}

a{
  text-decoration: none;
  color: yellow;
}

.mynav {

  background-color: rgb(12, 166, 120) !important;
  box-shadow: 0px 0px 16px 1px rgba(23, 15, 29, 0.75) inset;
  -webkit-box-shadow: 0px 0px 16px 1px rgba(90, 56, 87, 0.75) inset;
  -moz-box-shadow: 0px 0px 16px 1px rgba(47, 37, 59, 0.75) inset !important;
  width: 100%;
  top:0;
  transition: top 0.3s;
  height: 4rem;
}

/* .mynav .navbar-brand .navbar-nav{
    float: left;
    display: block;
    
  } */
.nav-link {
  color: #fff !important;
}

.navbar-brand {
  color: #fff !important;
}

#top {
  font-family: 'Great Vibes', cursive !important;

}

#Content {
  font-size: 25px;
  color: rgb(0, 16, 49);
  font-weight: 800;


}

#navBut {
  background-color: #fff;
}

nav ul li {
  margin: 10px 20px;
}

.navbar-nav {
  padding: 10px 10%;
}

.navbar-brand {
  font-size: 25px;
  margin: 10px 20px;
  font-weight: 800;
}

nav ul li a {
  color: #fff;

  position: relative;
}

nav ul li a::after {
  content: '';
  width: 0%;
  height: 4px;
  border-radius: 1rem;
  background: rgb(213, 215, 220);
  position: absolute;
  left: 0;
  bottom: -3%;

}

nav ul li a:hover::after {
  width: 95%;
  transition: 0.5s;
}

.cards {
  border-radius: 4px;

  box-shadow: 0 6px 10px rgba(5, 174, 186, 0.08), 0 0 6px rgba(0, 0, 0, .05);
  transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
  /* padding: 14px 80px 18px 36px; */
  cursor: pointer;
}

.cards:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(0, 0, 0);
  opacity: 1; /* Firefox */
}
